<div class="row">
    <div class="span8">
        <div class="forums">
            <div class="forum" ng-repeat="forum in forumList.objects">
                <div class="forum-header"><strong>{{forum.name}}</strong></div>
                <table class="table">
                    <tr ng-repeat="topic in forum.topicList.objects">
                        <td>{{ topic.id }}</td>
                        <td><a ng-href="#/forum/topic/{{ topic.id }}">{{ topic.name }}</a></td>
                        <td>{{ topic.created_at }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>