<div class="row">
    <div class="col-lg-12">
        <h1>Forum</h1>
        <table ng-repeat="forum in forums" class="animation table table-bordered table-responsive">
            <thead>
                <tr>
                    <td><a href="#/forum">{{ forum.name }}</a> <small class="clearfix">{{ forum.description }}</small></td>
                </tr>
                <tr ng-repeat="forum in forums">
                    <td><a href="#/forum">{{ forum.name }}</a> <small class="clearfix">{{ forum.description }}</small></td>
                </tr>
            </thead>
        </table>
    </div>
</div>