<div class="row" ng-init="fetchForums();">
    <div class="col-lg-12" ng-show="topics.length > 0">
        <div class="panel panel-default" ng-repeat="forum in forums">
            <!-- Default panel contents -->
            <div class="panel-heading">
                <a ng-href="forum/{{ forum.id }}" ng-bind="forum.name"></a>
            </div>
            <table class="animation table table-bordered table-condensed table-responsive table-topic-list">
                <thead>
                    <tr>
                        <th class="small">Temat</th>
                        <th class="hidden-xs small">Nick</th>
                        <th class="hidden-xs small">Posty</th>
                        <th class="small">Ostatni</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="topic in topics[forum.id]">
                        <td class="table-td-topic-name"><a href="/topic/{{ topic.id }}">{{ topic.name }}</a></td>
                        <td class="table-td-topic-author hidden-xs">
                            <a ng-href="user/{{ topic.authorId }}"
                               ng-bind="topic.authorName">
                            </a>
                        </td>
                        <td class="table-td-topic-posts hidden-xs text-center">
                            <span ng-bind="topic.nbOfPosts"></span>
                            <span ng-if="user.isLogged() && (topic.nbOfPosts - topic.userTopic.postSeen) > 0"
                                  class="small" style="color: #00b3ee;">(+{{ topic.nbOfPosts - topic.userTopic.postSeen}})</span>
                        </td>
                        <td class="table-td-topic-last text-right">
                            <span class="small" ng-bind="topic.lastPostDate | date:'yyyy-MM-dd HH:mm'"></span> <br/>
                            <a ng-href="/user/{{ topic.lastPostAuthorId }}">{{ topic.lastPostAuthorName }}</a>
                        </td>
                    </tr>
                    <tr ng-if="!hasForumTopics(forum.id)" class="warning text-center">
                        <td colspan="4">Brak tematów!</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>