<div class="searchLink" align=right><a href="/forum/search">Szukaj</a></div>
<form id="ui-search-form" class="form">
    <div class="input-group">
        <input name="ciag" type="text" class="form-control">
        <input name="zakres" type="hidden">

        <div class="input-group-btn">
            <button type="button" class="btn btn-search dropdown-toggle" data-toggle="dropdown">Szukaj
                <span class="caret"></span></button>
            <ul id="ui-search-actions" class="dropdown-menu pull-right">
                <li><a data-value="3" href="#">w postach i tematach</a></li>
                <li><a data-value="1" href="#">w postach</a></li>
                <li><a data-value="2" href="#">w tematach</a></li>
            </ul>
        </div>
    </div>
</form>
